<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAh10J3Fjmc-LhBBm6YPi3o7OEPoC61c18</string>
	<key>GCM_SENDER_ID</key>
	<string>204568663112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myOwnApp</string>
	<key>PROJECT_ID</key>
	<string>myownapp-2e043</string>
	<key>STORAGE_BUCKET</key>
	<string>myownapp-2e043.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204568663112:ios:9f9b8ba34aa95d284a747d</string>
</dict>
</plist>